@{
	ViewData["Title"] = "About";
}

<h2>Improving lives through learning</h2>

<div class="container text-center">
	<div class="row align-items-center">
		<div class="col">
			<img src="~/img/about-us.png" class="img-fluid" alt="">
		</div>
		<div class="col">
			Whether you want to learn or to share what you know, you’ve come to the right place. As a global destination for online learning, we empower organizations and individuals with flexible and effective skill development.
		</div>
	</div>
</div>

