@{
	ViewData["Title"] = "Contact";
}

<h2>Contact Us</h2>

<table class="table">
	<tbody>
	<tr>
		<td>
			<div class="d-flex align-items-center">
			<div class="flex-shrink-0">
				<img src="~/img/contact_img/location.png" style="height:auto; width: 60px" alt="">
			</div>
			<div class="flex-grow-1 ms-3">
				ODTÜ Teknokent Galyum Blok
			</div>
				</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="d-flex align-items-center">
				<div class="flex-shrink-0">
					<img src="~/img/contact_img/phone.png" style="height:auto; width: 60px" alt="">
				</div>
				<div class="flex-grow-1 ms-3">
					0 (312) 219 29 83
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="d-flex align-items-center">
				<div class="flex-shrink-0">
					<img src="~/img/contact_img/email.png" style="height:auto; width: 60px" alt="">
				</div>
				<div class="flex-grow-1 ms-3">
					contact@semicolon.com
				</div>
			</div>
		</td>
	</tr>
		<tr>
			<td>
				<div class="d-flex align-items-center">
					<div class="flex-shrink-0">
						<img src="~/img/contact_img/website.png" style="height:auto; width: 60px" alt="">
					</div>
					<div class="flex-grow-1 ms-3">
						<a href="http://www.semicolon.com.tr">www.semicolon.com.tr</a>
					</div>
				</div>
			</td>
		</tr>
	</tbody>
</table>


