@{
	ViewData["Title"] = "Courses";
}

<h2>Courses</h2>


<div class="container-fluid">
	<div class="card-group justify-content-center">
		<a href="https://localhost:7249/Cource/Cource/CourceImg/4">
			<div class="card" style="width: 200px;">
				<img src="~/img/cource_img/C.png" class="m-auto rounded indexadmincard" />
				<div class="card-body">
					C#
				</div>
			</div>
		</a>
		<a href="https://localhost:7249/Cource/Cource/CourceImg/5">
			<div class="card" style="width: 200px;">
				<img src="~/img/cource_img/PhotoShop.png" class="m-auto rounded indexadmincard" />
				<div class="card-body">
					PhotoShop
				</div>
			</div>
		</a>
		<a href="https://localhost:7249/Cource/Cource/CourceImg/6">
			<div class="card" style="width: 200px;">
				<img src="~/img/cource_img/Blender.jpg" class="m-auto rounded indexadmincard" />
				<div class="card-body">
					Blender
				</div>
			</div>
		</a>
		<a href="https://localhost:7249/Cource/Cource/CourceImg/7">
			<div class="card" style="width: 200px;">
				<img src="~/img/cource_img/Web.jpg" class="m-auto rounded indexadmincard" />
				<div class="card-body">
					Web Development
				</div>
			</div>
		</a>
	</div>
</div>

