@{
    ViewData["Title"] = "Home Page";
}
<script src="~/js/bannerjs.js" asp-append-version="true"></script>
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />


<div class="AllSlideArea">
	<ul class="SlideAreaImg">
		<li class="SlideImg"><img src="~/img/indexbanner/banner_c.png" onclick="javascript:window.location='https://localhost:7249/Cource/Cource/CourceImg/4';" border="0" alt="" title=""></li>
		<li class="SlideImg"><img src="~/img/indexbanner/Banner_Photoshop.png" onclick="javascript:window.location='https://localhost:7249/Cource/Cource/CourceImg/5';" border="0" alt="" title=""></li>
		<li class="SlideImg"><img src="~/img/indexbanner/Banner_Blender.png" onclick="javascript:window.location='https://localhost:7249/Cource/Cource/CourceImg/6';" border="0" alt="" title=""></li>
	</ul>
</div>


