@using OnlineEducation.Web.Code
@using Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="Content-Language" content="en">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Competible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="copyright" content="Copyright &copy; 2023 ">
	<meta name="reply-to" content="info@semicolon.com.tr">
	<meta name="author" content="Serhat Utku Kahraman - info@semicolon.com.tr">
	<meta name="designer" content="Serhat Utku Kahraman - Semicolon">
	<meta name="description" content="Online Education Platform">
    <title>@ViewData["Title"] - Semicolon Academy </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OnlineEducation.Web.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

	
    <script>
		let TOKEN = "@Repo.Session.Token";
	</script>

</head>
<body>
<header>
	<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
		<div class="container-fluid">

			<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
				<img src="~/img/logo_1.png" style="width:200px;height:60px"/>
			</a>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
			        aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
				<ul class="nav nav-underline">
					<li class="nav-item">
						<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-dark" asp-area="Admin" asp-controller="Home" asp-action="Role">Role</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-dark" asp-area="Admin" asp-controller="Home" asp-action="Category">Category</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-dark">@Repo.Session.Email</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-dark " asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>

<div class="container-fluid">
	<div class="card-group justify-content-center">
		<a asp-area="Admin" asp-controller="Home" asp-action="Role">
			<div class="card" style="width: 400px;">
				<img src="~/img/IndexAdmin/Icon_Role.png" class="m-auto rounded indexadmincard" />
				<div class="card-body">
					Roles
				</div>
			</div>
		</a>
		<a asp-area="Admin" asp-controller="Home" asp-action="Category">
			<div class="card" style="width: 400px;">
				<img src="~/img/IndexAdmin/Icon_Categoy.png" class="m-auto rounded indexadmincard" />
				<div class="card-body">
					Categories
				</div>
			</div>
		</a>
		
	</div>
</div>

	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

<footer class="border-top footer text-muted">
	<div class="container">
		&copy; 2023 - Semicolon Academy <a asp-area="" asp-controller="Home" ></a>
	</div>
</footer>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
